body{
    background-image: url(images/education.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    margin-left: 500px;
    margin-top: 150px;
    text-align: center;
    background-color: rgb(172, 163, 55);
    width: 540px;
    height: 500px;
    border-radius: 10%;
    font-size: large;
    opacity: .9;
}
h1{
    text-align: center;
    font-size: 150px;
    background-color: rgb(172, 163, 55);
}